<%= form_with model: [@trainer, @appointment], data: { controller: 'flatpickr appointments' }, class: 'contents' do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% @appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.datetime_field :start_time, data: { action: 'change->flatpickr#setEndTime change->appointments#addDateQueryParam'}, class: 'start-time-field' %>
    <%= inline_errors(@appointment, :start_time) %>
  </div>

  <%= f.hidden_field :end_time, class: 'end-time-field' %>
  <%= inline_errors(@appointment, :end_time) %>

  <div class='mt-5'>
    <%= f.submit class: 'rounded-lg py-3 px-5 bg-blue-600 text-white w-full font-medium cursor-pointer' %>
  </div>
<% end %>
