<div class='w-full'>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  
  <div class='flex justify-between items-center'>
    <h1 class='font-bold text-4xl'>Appointments</h1>
    <%= link_to 'New Appointment', new_trainer_appointment_path, class: 'rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium' %>
  </div>
  
  <div id='appointments' class='min-w-full relative overflow-x-auto'>
    <table class='w-full text-sm text-left text-gray-500 mt-5'>
      <thead class='text-xs text-gray-700 uppercase bg-gray-50'>
        <tr>
          <th class='px-6 py-3'>Trainer</th>
          <th class='px-6 py-3'>Date</th>
          <th class='px-6 py-3'>Start Time</th>
          <th class='px-6 py-3'>End Time</th>
          <th class='px-6 py-3'>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @appointments.each do |appointment| %>
          <tr class='bg-white border-b'>
            <td class='px-6 py-4 font-medium text-gray-900 whitespace-nowrap'><%= appointment.trainer.name %></td>
            <td><%= appointment.start_time.to_date %></td>
            <td class='px-6 py-4'><%= appointment.start_time.strftime("%l:%M %p") %></td>
            <td class='px-6 py-4'><%= appointment.end_time.strftime("%l:%M %p") %></td>
            <td class='px-6 py-4'><%= link_to 'Show', trainer_appointment_path(@trainer, appointment) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
