<div class='mx-auto md:w-2/3 w-full'>
  <h1 class='font-bold text-4xl'>Book an appointment with <%= @trainer.name %></h1>

  <div class='my-5'>
    <%= turbo_frame_tag :slots do%>
      <%= availability_slots(@trainer, @appointment) %>
    <% end %>
  </div>

  <%= render 'form', appointment: @appointment %>

  <%= link_to 'Back to appointments', trainer_appointments_path, class: 'ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium' %>
</div>
