<div class='mx-auto md:w-2/3 w-full'>
  <h1 class='font-bold text-4xl'>Book an appointment with <%= @trainer.name %></h1>

  <div class='my-5'>
    <% availability_slots = {} %>

    <% @trainer.availabilities.each do |availability| %>
      <% day_of_week = availability.day_of_week %>

      <% availability_slots[day_of_week] ||= {} %>

      <% current_time = availability.start_time %>
      <% while current_time < availability.end_time %>
        <% availability_slots[day_of_week][current_time.strftime('%I:%M %p')] = :available %>
        <% current_time += 1.hour %>
      <% end %>
    <% end %>

    <% @trainer.appointments.each do |appointment| %>
      <% next unless appointment.start_time %>
      <% next unless appointment.end_time %>

      <% day_of_week = appointment.start_time.wday %>

      <% availability_slots[day_of_week] ||= {} %>

      <% current_time = appointment.start_time %>
      <% while current_time < appointment.end_time %>
        <% unless appointment.id == @appointment&.id && current_time >= @appointment.start_time && current_time < @appointment.end_time %>
          <% availability_slots[day_of_week][current_time.strftime('%I:%M %p')] = :unavailable %>
        <% end %>
        <% current_time += 1.hour %>
      <% end %>
    <% end %>

    <turbo-frame id='slots'>
      <% day = Date::DAYNAMES[@wday] %>
      <% hourly_intervals = availability_slots[@wday] || {} %>

      <% hourly_intervals.each do |time, status| %>
        <% if status == :available %>
          <p style="color: green;"><%= time %></p>
        <% else %>
          <p style="color: red;"><%= time %></p>
        <% end %>
      <% end %>
    </turbo-frame>
  </div>

  <%= render 'form', appointment: @appointment %>

  <%= link_to 'Back to appointments', trainer_appointments_path, class: 'ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium' %>
</div>
