<div class='mx-auto md:w-2/3 w-full flex'>
  <div class='mx-auto'>
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    
    <%= render @trainer %>

    <div class='mt-5'>
      <div class='flex flex-row w-full gap-3'>
        <%= link_to 'Show Appointments', trainer_appointments_path(@trainer), class: 'w-full text-center mt-2 rounded-lg py-3 px-5 bg-blue-600 text-white font-medium' %>
        <%= link_to 'Show Availabilities', trainer_availabilities_path(@trainer), class: 'w-full text-center mt-2 rounded-lg py-3 px-5 bg-blue-600 text-white font-medium' %>
      </div>
      <div class='flex flex-row gap-3 mt-3'>
        <%= link_to 'Edit', edit_trainer_path(@trainer), class: 'w-full text-center rounded-lg py-3 px-5 bg-gray-100 font-medium' %>
        <%= button_to 'Destroy', trainer_path(@trainer), method: :delete, class: 'w-full rounded-lg py-3 px-5 bg-gray-100 font-medium', form: { class: 'w-full' } %>
        <%= link_to 'Back to trainers', trainers_path, class: 'w-full text-center rounded-lg py-3 px-5 bg-gray-100 font-medium' %>
      </div>
    </div>
  </div>
</div>
