<div id='<%= dom_id availability %>' class='relative overflow-x-auto'>
  <table class='w-full text-sm text-left text-gray-500'>
    <thead class='text-xs text-gray-700 uppercase bg-gray-50'>
      <tr>
        <th class='px-6 py-3'>Trainer</th>
        <th class='px-6 py-3'>Start Time</th>
        <th class='px-6 py-3'>End Time</th>
      </tr>
    </thead>
    <tbody>
      <tr class='bg-white border-b'>
        <th class='px-6 py-4 font-medium text-gray-900 whitespace-nowrap'><%= availability.trainer.name %></th>
        <td class='px-6 py-4'><%= availability.start_time.strftime("%l:%M %p") %></td>
        <td class='px-6 py-4'><%= availability.end_time.strftime("%l:%M %p") %></td>
      </tr>
    </tbody>
  </table>

  <% if action_name != "show" %>
    <%= link_to "Show availability", availability, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit availability", edit_availability_path(availability), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class='mt-6'>
  <% end %>
</div>
