<div class='w-full'>
  <div class='flex justify-between items-center'>
    <h1 class='font-bold text-4xl'>Availabilities</h1>
    <%= link_to 'New availability', new_trainer_availability_path, class: 'rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium' %>
  </div>
  
  <div id='availabilities' class='min-w-full'>
    <table class='border-collapse border border-slate-500 table-fixed w-full'>
      <thead>
        <tr>
          <th class='border border-slate-600'>Trainer</th>
          <th class='border border-slate-600'>Day of Week</th>
          <th class='border border-slate-600'>Start Time</th>
          <th class='border border-slate-600'>End Time</th>
          <th class='border border-slate-600'>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @availabilities.each do |availability| %>
          <tr>
            <td class='border border-slate-700'><%= availability.trainer.name %></td>
            <td class='border border-slate-700'><%= availability.day_of_week %></td>
            <td class='border border-slate-700'><%= availability.start_time %></td>
            <td class='border border-slate-700'><%= availability.end_time %></td>
            <td class='border border-slate-600'><%= link_to 'Show', trainer_availability_path(@trainer, availability) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
