<!DOCTYPE html>
<html class='scroll-smooth'>
  <head>
    <title>AppointmentBooking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='flex flex-col h-screen justify-between bg-stone-50'>
    <%# Hide header if in appointment show page %>
    <% unless controller_name == 'appointments' && action_name == 'show' %>
      <header class='max-w-5xl mx-auto mt-6 w-full'>
        <%= render 'shared/navbar' %>
      </header>
    <% end %>

    <main class="max-w-5xl mx-auto mt-20 px-5 w-full">
      <%= yield %>
    </main>
    
    <%# Hide footer if in appointment show page %>
    <% unless controller_name == 'appointments' && action_name == 'show' %>
      <footer class='max-w-5xl mx-auto mt-28 w-full'>
        <%= render 'shared/footer'  %>
      </footer>
    <% end %>

  </body>
</html>
